Repository imbacc/vite-vue3-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint"],
  "*.{css,less,scss}": ["stylelint"]
}

docs: 依赖和安装
  README.md
Due: none

fix: 修复编译和打包等问题
  .eslintignore
  .gitignore
  README.md
  electron/main.ts
  electron/preload.ts
  electron/tools/eventIpc.ts
  electron/tools/requestConvert.ts
  electron/tools/tools.ts
  electron/tools/version.ts
  forge.config.js
  index.html
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/api/request.ts
  src/main.ts
  src/tools/eventIpc.ts
  src/tools/ipcService.ts
  types/global.d.ts
  vite.config.ts
Due: eslint

build: 删除没用依赖
  .env.development
  .env.production
  .env.testing
  package.json
  pnpm-lock.yaml
Due: none

docs:
  README.md
Due: none

fix: 打包后初始路由指向问题
  .env.production
  electron/main.ts
  electron/preload.ts
  electron/tools/directive.ts
  electron/tools/ipcService.ts
  electron/tools/menuEvent.ts
  electron/tools/requestConvert.ts
  electron/tools/updateApp.ts
  package.json
  public/logo.png
  src/api/request.ts
  src/assets/logo.png
  src/router/create.ts
  src/router/index.ts
  src/tools/tools.ts
  tsconfig.json
  vite-plugin/vite-plugin-cache.ts
  vite.config.ts
Due: eslint

update: 更新部分事件
  electron/main.ts
  electron/tools/directive.ts
  electron/tools/download.ts
  electron/tools/ipcService.ts
  electron/tools/updateApp.ts
  src/tools/eventIpc.ts
  src/tools/ipcService.ts
Due: eslint

update: 更新部分事件
  .husky/commit-msg
  .husky/pre-commit
Due: none

update: 小改动
  electron/tools/directive.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint

feat: taze up
  .eslintrc-auto-import.json
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/api/test/testApi.ts
  src/hooks/usePiniaHooks.ts
  src/tools/ipcService.ts
  tsconfig.json
  types/vite-plugin/auto-components.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-routerPage.ts
  vite.config.ts
Due: eslint

feat: 新eslint配置
  .cz-config.js
  .eslintignore
  .eslintrc.js
  .npmrc
  commitlint.config.js
  electron/main.ts
  electron/tools/download.ts
  electron/tools/eventIpc.ts
  electron/tools/ipcService.ts
  electron/tools/menuEvent.ts
  electron/tools/requestConvert.ts
  electron/tools/updateApp.ts
  electron/tools/version.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/api/request.ts
  src/env.d.ts
  src/hooks/usePiniaHooks.ts
  src/router/meta.ts
  src/tools/ipcService.ts
  types/render/loadingRender.d.ts
  types/store/auth.d.ts
  types/vite-plugin/auto-env.d.ts
  vite-plugin/vite-plugin-env.ts
  vite.config.ts
Due: eslint

fix: eslint包和vscode插件冲突
  package.json
  pnpm-lock.yaml
Due: none

perf: 修改为vite插件编译
  .env
  .env.development
  .env.production
  .env.testing
  .gitignore
  .npmrc
  README.md
  electron/main.ts
  electron/tools/eventIpc.ts
  electron/tools/ipcService.ts
  electron/tools/menuEvent.ts
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/api/request.ts
  src/router/create.ts
  src/tools/eventIpc.ts
  src/tools/ipcService.ts
  tsconfig.json
  types/render/loadingRender.d.ts
  types/vite-plugin/auto-components.d.ts
  types/vite-plugin/auto-import.d.ts
  uno.config.ts
  vite-plugin/vite-plugin-env.ts
  vite.config.ts
Due: eslint

update: web启动命令v-dev
  components.d.ts
  package.json
  vite.config.ts
  vite.config.web.ts
Due: eslint

feat: ipc通信调整和类型规则
  .eslintrc-auto-import.json
  .lintstagedrc.json
  .npmrc
  README.md
  electron/ipcService/dirList.ts
  electron/ipcService/index.ts
  electron/main.ts
  electron/tools/download.ts
  electron/tools/electronCache.ts
  electron/tools/eventIpc.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/hooks/eventIpc.ts
  src/ipcService/index.ts
  src/main.ts
  src/router/create.ts
  src/router/index.ts
  src/styles/global.scss
  src/views/table/index.tsx
  src/views/test/index.vue
  tsconfig.json
  types/electron/types.d.ts
  types/vite-plugin/auto-import.d.ts
  vite-plugin/vite-plugin-auto-import.ts
  vite.config.ts
Due: eslint, stylelint
